<html>
<header>
<title>Busca recetas</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
<body>
<a href="/"><b>&#8656;</b></a> Mi <a href="/my_list">lista</a> tiene {{ list_size }} receta/s.
<br>
<h2>{{ recipe["name"] }}</h2>

{% if recipe["selected"] %}
Esta receta está en tu lista. <a href="/remove/{{ recipe["hash_value"] }}">Quitar</a>.
{% else %}
Esta receta no está en tu lista. <a href="/add/{{ recipe["hash_value"] }}">Añadir</a>.
{% endif %}

<h3>Ingredientes</h3>
<UL>
{% for ing in recipe["ingredients"] %}
    <li>{{ ing }}.
    {% if "quantity" in recipe["ingredients"][ing] %}
          {{ recipe["ingredients"][ing]["quantity"] }}.
    {% endif %}
    {% if "type" in recipe["ingredients"][ing] %}
        Tipo: {{ recipe["ingredients"][ing]["type"] }}.
    {% endif %}
    {% if "prep" in recipe["ingredients"][ing] %}
        Preparación: {{ recipe["ingredients"][ing]["prep"] }}.
    {% endif %}
    </li>
{% endfor %}
</UL>

<h3>Pasos</h3>
<UL>
{% for s in recipe["steps"] %}
    <li>{{ s }}</li>
{% endfor %}
</UL>

{% if recipe["tags"]|length %}
Etiquetas: 
{% for t in recipe["tags"] %}
    <a href="/tag?tags={{ t }}">{{ t }}</a> 
{% endfor %}
{% endif %}

</body>
</html>
